
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Form</title>

    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body style="padding: 20px;">
    <h2>Please fill out customer information</h2>
    <form method="post" class="form-group">
        <div class="form-group row">
            <label class="col-sm col-form-label">Name:</label>
            <div class="col-sm-11">
                {{ form.name }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm col-form-label">Number:</label>
            <div class="col-sm-11">
                {{ form.number }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm col-form-label">Email Address:</label>
            <div class="col-sm-11">
                {{ form.email }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm col-form-label">Company:</label>
            <div class="col-sm-11">
                {{ form.company }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm col-form-label">Address:</label>
            <div class="col-sm-11">
                {{ form.address }}
            </div>
        </div>
        <button class="btn btn-primary" type="submit" style="margin-left: 40px;">Submit</button>
    </form>
</body>
</html>